In [1]:
from datasets import load_dataset
import time
import pandas as pd
import re
import os
import json
import requests
import torch
import numpy as np

In [2]:
# 데이터셋 로드
dataset = load_dataset("Stanford/wikitablequestions", trust_remote_code=True)

# 데이터셋 구조 확인
print(dataset)

DatasetDict({
    train: Dataset({
        features: ['id', 'question', 'answers', 'table'],
        num_rows: 11321
    })
    test: Dataset({
        features: ['id', 'question', 'answers', 'table'],
        num_rows: 4344
    })
    validation: Dataset({
        features: ['id', 'question', 'answers', 'table'],
        num_rows: 2831
    })
})

In [6]:
class WikiTQ:
    def __init__(self, dataset, index):
        """데이터셋과 인덱스를 받아 객체를 초기화합니다."""
        self.dataset = dataset
        self.index = index
        self._extract_data()  # 내부 데이터 추출

    def _extract_data(self):
        """데이터에서 테이블과 관련된 정보를 추출하여 저장"""
        entry = self.dataset['train'][self.index]

        # 테이블 정보 추출 및 DataFrame 생성
        self.table_header = entry['table']['header']
        self.table_rows = entry['table']['rows']
        self.df = pd.DataFrame(self.table_rows, columns=self.table_header)

        # 기타 정보 추출
        self.question = entry['question']
        self.answers = entry['answers']

    # Getter 메서드들
    def get_table(self):
        """테이블(DataFrame) 반환"""
        return self.df

    def get_question(self):
        """질문 반환"""
        return self.question

    def get_answers(self):
        """정답 목록 반환"""
        return self.answers

    def display_all(self):
        """모든 정보를 출력"""
        print("Table DataFrame:")
        print(self.df)
        print("\nQuestion:", self.question)
        print("\nAnswers:", self.answers)

In [14]:
index = 6
# 객체 생성
wiki_tq = WikiTQ(dataset, index)

# 메서드 사용 예시
df = wiki_tq.get_table()
question = wiki_tq.get_question()
answers = wiki_tq.get_answers()

# markdown_df = df.to_markdown(index=False)
# print(markdown_df)

In [15]:
# Convert the DataFrame into a list of rows
list_of_rows = df.values.tolist()

# Add the header as the first row
list_of_rows.insert(0, df.columns.tolist())

# Output the list of rows
print(question)
print(list_of_rows)
print(answers)

how many times did an italian cyclist win a round?
[['Round', 'Round', 'Circuit', 'Date', 'Pole Position', 'Fastest Lap', 'Winning Rider'], ['1', 'R1', 'Jerez', '18 March', 'Raymond Roche', 'Stéphane Mertens', 'Raymond Roche'], ['1', 'R2', 'Jerez', '18 March', 'Raymond Roche', 'Raymond Roche', 'Raymond Roche'], ['2', 'R1', 'Donington', '16 April', 'Giancarlo Falappa', 'Rob Phillis', 'Fred Merkel'], ['2', 'R2', 'Donington', '16 April', 'Giancarlo Falappa', 'Raymond Roche', 'Giancarlo Falappa'], ['3', 'R1', 'Hungaroring', '30 April', 'Malcolm Campbell', 'Raymond Roche', 'Fred Merkel'], ['3', 'R2', 'Hungaroring', '30 April', 'Malcolm Campbell', 'Fred Merkel', 'Raymond Roche'], ['4', 'R1', 'Hockenheim', '6 May', 'Raymond Roche', 'Fred Merkel', 'Fred Merkel'], ['4', 'R2', 'Hockenheim', '6 May', 'Raymond Roche', 'Raymond Roche', 'Stéphane Mertens'], ['5', 'R1', 'Mosport', '3 June', 'Giancarlo Falappa', 'Raymond Roche', 'Raymond Roche'], ['5', 'R2', 'Mosport', '3 June', 'Giancarlo Falappa', 'Jamie James', 'Raymond Roche'], ['6', 'R1', 'Brainerd', '10 June', 'Doug Chandler', 'Doug Chandler', 'Stéphane Mertens'], ['6', 'R2', 'Brainerd', '10 June', 'Doug Chandler', 'Fabrizio Pirovano', 'Doug Chandler'], ['7', 'R1', 'Österreichring', '1 July', 'Stéphane Mertens', 'Rob McElnea', 'Fabrizio Pirovano'], ['7', 'R2', 'Österreichring', '1 July', 'Stéphane Mertens', 'Stéphane Mertens', 'Stéphane Mertens'], ['8', 'R1', 'Sugo', '26 August', 'Raymond Roche', 'Raymond Roche', 'Raymond Roche'], ['8', 'R2', 'Sugo', '26 August', 'Raymond Roche', 'Peter Goddard', 'Doug Chandler'], ['9', 'R1', 'Le Mans', '9 September', 'Baldassarre Monti', 'Raymond Roche', 'Raymond Roche'], ['9', 'R2', 'Le Mans', '9 September', 'Baldassarre Monti', 'Jamie James', 'Raymond Roche'], ['10', 'R1', 'Monza', '7 October', 'Baldassarre Monti', 'Rob Phillis', 'Fabrizio Pirovano'], ['10', 'R2', 'Monza', '7 October', 'Baldassarre Monti', 'Rob Phillis', 'Fabrizio Pirovano'], ['11', 'R1', 'Shah Alam', '4 November', 'Rob Phillis', 'Fabrizio Pirovano', 'Fabrizio Pirovano'], ['11', 'R2', 'Shah Alam', '4 November', 'Rob Phillis', 'Raymond Roche', 'Fabrizio Pirovano'], ['12', 'R1', 'Phillip Island', '11 November', 'Peter Goddard', 'Fabrizio Pirovano', 'Peter Goddard'], ['12', 'R2', 'Phillip Island', '11 November', 'Peter Goddard', 'Malcolm Campbell', 'Rob Phillis'], ['13', 'R1', 'Manfeild', '18 November', 'Rob Phillis', 'Brian Morrison', 'Terry Rymer'], ['13', 'R2', 'Manfeild', '18 November', 'Rob Phillis', 'Raymond Roche', 'Rob Phillis']]
['6']

In [9]:
question

'how many people stayed at least 3 years in office?'

In [10]:
answers

['4']

In [11]:
answers_text = ', '.join(map(str, answers))
answers_text

'4'